.display {
  grid-column: span 4;
  background-color: #0004;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 5px;
  font-size: 2.1em;
  overflow: hidden;
}

.data-hora {
  font-size: 16px;
  padding-bottom: 6px;
}
