@font-face {
  font-family: 'Calculator';
  src: url('./fonts/Calculator.ttf');
}

* {
  box-sizing: border-box;

  font-family: 'Calculator', sans-serif;

  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;

  background: linear-gradient(45deg, rgb(66,66,70), rgb(31,30,31));
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 375px;
  width: 260px;
  background: linear-gradient(45deg, rgb(31,30,31),rgb(66,66,70));
  border-radius: 4px;
}